<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.gpt.pecare.mapper.PetMapper">

    <resultMap id="BaseResultMap" type="team.gpt.pecare.model.domain.Pet">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="petname" column="petName" jdbcType="VARCHAR"/>
            <result property="userid" column="userID" jdbcType="BIGINT"/>
            <result property="petage" column="petAge" jdbcType="INTEGER"/>
            <result property="petgender" column="petGender" jdbcType="TINYINT"/>
            <result property="petdescription" column="petDescription" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,petName,userID,
        petAge,petGender,petDescription
    </sql>
</mapper>
