<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.gpt.pecare.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="team.gpt.pecare.model.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="useraccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userpassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userdescription" column="userDescription" jdbcType="VARCHAR"/>
            <result property="useridurl" column="userIdUrl" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="emailaddress" column="emailAddress" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="userrole" column="userRole" jdbcType="INTEGER"/>
            <result property="havepets" column="havePets" jdbcType="INTEGER"/>
            <result property="usercredits" column="userCredits" jdbcType="INTEGER"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,userAccount,
        userPassword,userDescription,userIdUrl,
        gender,phone,emailAddress,
        address,userRole,havePets,
        userCredits,createTime,updateTime,
        isDelete
    </sql>
</mapper>
